# JUDO GENERATOR BLOCK START
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/initializer/InitAreasCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/initializer/InitCategoriesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/initializer/InitIssueTypesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/initializer/InitUsersCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/comment/VoteDownCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/comment/VoteUpCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/con/CreateConArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/con/CreateProArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/con/VoteDownCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/con/VoteUpCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/CloseDebateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/CreateCommentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/CreateConArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/CreateProArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/pro/CreateConArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/pro/CreateProArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/pro/VoteDownCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/pro/VoteUpCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/VoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/VoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/userissues/CreateIssueCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/usermanager/CreateUserCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/votedefinition/VoteRatingCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/votedefinition/VoteSelectAnswerCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/votedefinition/VoteYesNoAbstainCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/votedefinition/VoteYesNoCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/VoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/VoteCustomImplementation.java.default
# JUDO GENERATOR BLOCK END
