# JUDO GENERATOR BLOCK START
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/comment/VoteDownCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/comment/VoteUpCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/con/CreateConArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/con/CreateProArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/con/VoteDownCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/con/VoteUpCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/issue/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/issue/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/issue/CloseDebateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/issue/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/issue/CreateCommentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/issue/CreateConArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/issue/CreateProArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/issue/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/issue/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/pro/CreateConArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/pro/CreateProArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/pro/VoteDownCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/pro/VoteUpCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/ratingvotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/ratingvotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/ratingvotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/ratingvotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/ratingvotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/ratingvotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/ratingvotedefinition/VoteRatingCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/ratingvotedefinition/VoteSelectAnswerCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/ratingvotedefinition/VoteYesNoAbstainCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/ratingvotedefinition/VoteYesNoCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/selectanswervotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/selectanswervotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/selectanswervotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/selectanswervotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/selectanswervotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/selectanswervotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/selectanswervotedefinition/VoteRatingCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/selectanswervotedefinition/VoteSelectAnswerCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/selectanswervotedefinition/VoteYesNoAbstainCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/selectanswervotedefinition/VoteYesNoCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/votedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/votedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/votedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/votedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/votedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/votedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/votedefinition/VoteRatingCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/votedefinition/VoteSelectAnswerCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/votedefinition/VoteYesNoAbstainCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/votedefinition/VoteYesNoCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnoabstainvotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnoabstainvotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnoabstainvotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnoabstainvotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnoabstainvotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnoabstainvotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnoabstainvotedefinition/VoteRatingCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnoabstainvotedefinition/VoteSelectAnswerCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnoabstainvotedefinition/VoteYesNoAbstainCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnoabstainvotedefinition/VoteYesNoCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnovotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnovotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnovotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnovotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnovotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnovotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnovotedefinition/VoteRatingCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnovotedefinition/VoteSelectAnswerCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnovotedefinition/VoteYesNoAbstainCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/_default_transferobjecttypes/yesnovotedefinition/VoteYesNoCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/initializer/InitAreasCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/initializer/InitCategoriesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/initializer/InitIssueTypesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/initializer/InitUsersCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/comment/VoteDownCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/comment/VoteUpCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/con/CreateConArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/con/CreateProArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/con/VoteDownCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/con/VoteUpCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/CloseDebateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/CreateCommentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/CreateConArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/CreateProArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/issue/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/pro/CreateConArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/pro/CreateProArgumentCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/pro/VoteDownCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/pro/VoteUpCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/ratingvotedefinition/VoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/selectanswervotedefinition/VoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/userissues/CreateIssueCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/usermanager/CreateUserCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/votedefinition/VoteRatingCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/votedefinition/VoteSelectAnswerCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/votedefinition/VoteYesNoAbstainCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/votedefinition/VoteYesNoCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnoabstainvotedefinition/VoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/ActivateCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/AddToFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/CloseVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/DeleteOrArchiveCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/RemoveFromFavoritesCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/TakeBackVoteCustomImplementation.java.default
/party/mkkp/edemokracia/edemokracia/custom/edemokracia/service/yesnovotedefinition/VoteCustomImplementation.java.default
# JUDO GENERATOR BLOCK END
